@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}

@section scripts{
    <script>
        window.urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        window.urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        window.obj = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model ?? new WebAtividadeEntrevista.Models.ClienteModel()));
        window.beneficiarios = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model?.Beneficiarios ?? new List<WebAtividadeEntrevista.Models.BeneficiarioModel>()));
    </script>

    @Scripts.Render("~/bundles/altClientes")
}

<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms", Model)